@import "src/mixin/index";

.incrementer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  @include bewel;
  @include striped(#00748b, #00748b);
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 5px 20px;
  color: #CFD8DC;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5);
  margin: 1em;
  font-weight: 600;
  user-select: none;
  cursor: pointer;

  &.active {
    @include striped(#17ace0, #17ace0);
  }

  &:hover:not(.active) {
    @include striped(#17ace0, #00748b);
  }
}
